<template>
<a :href="this.urlArticle" :title="this.nomArticle" target="_blank">
  <div class="my-card">
    <div class="img-container">
      <img :src="this.imageArticle" :alt="this.nomArticle" />
    </div>
    <span class="nom-article">
        {{ this.nomArticle }}
    </span>
    <span class="prix-article"> {{ this.prixArticle.toFixed(2) }} €</span>
  </div>
</a>
</template>

<script>
export default {
  props: {
    imageArticle: {
      default: '',
      type: String,
    },
    nomArticle: {
      default: '',
      type: String,
    },
    urlArticle: {
      default: '',
      type: String,
    },
    prixArticle: {
      default: '',
      type: Number,
    },
  },
};
</script>

<style scoped></style>
