.my-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 250px;
  margin: 5px 0px;
}

.my-card:hover {
  background-color: rgba(1, 1, 1, 0.3);
}

#card-container > a {
  text-decoration: none;
}

#card-container > a :hover > .nom-article {
  text-decoration: underline;
}

.img-container {
  min-height: 150px;
  max-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-card img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.prix-article {
  font-weight: bold;
  color: #ffffff;
}
/*# sourceMappingURL=card.css.map */