.my-card {
  display: flex;
  flex-direction: column;
  max-height: max-content;
  align-items: center;
  padding: 10px;
  height: 250px;
  margin: 5px 0px;
}

.my-card:hover {
  background-color: rgba(1, 1, 1, 0.3);
}

#card-container > a {
  text-decoration: none;
}

#card-container > a :hover > .nom-article {
  text-decoration: underline;
}

.img-container {
  min-height: 150px;
  max-height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.my-card img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.prix-article {
  font-weight: bold;
  color: #ffffff;
}
