.v-application {
  background-image: linear-gradient(135.9deg, #6d19fc 16.4%, #7d1fa5 56.1%) !important;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#titre {
  text-shadow: 1px 2px #000000;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card-container,
#vue-liste {
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 0.25rem;
  max-width: 95%;
}

#vue-liste {
  padding: 20px;
}

ul {
  list-style: none;
}

a {
  color: #ff8300 !important;
}

.nom-article > a {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

footer {
  margin: 20px 0px 20px 0px;
}
/*# sourceMappingURL=style.css.map */