.v-application {
  background-image: linear-gradient(
    135.9deg,
    rgba(109, 25, 252, 1) 16.4%,
    rgba(125, 31, 165, 1) 56.1%
  ) !important;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#titre {
  text-shadow: 1px 2px #000000;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
}

#card-container,
#vue-liste {
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 0.25rem;
  max-width: 95%;
}

#vue-liste {
  padding: 20px;
}

ul {
  list-style: none;
}

a {
  color: #ff8300 !important;
}

.nom-article > a {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

footer {
  margin: 20px 0px 20px 0px;
}
