<template>
  <v-app>
    <div id="container">
      <h1 id="titre">Ma wishlist</h1>

      <v-switch
        v-model="showList"
        class="mx-2"
        label="Vue liste"
        color="#ff8300"
      />

      <div id="card-container" v-show="!showList">
        <my-card
          v-for="article in this.wishlist"
          :key="article.urlArticle"
          :imageArticle="article.imageArticle"
          :urlArticle="article.urlArticle"
          :prixArticle="article.prixArticle"
          :nomArticle="article.nomArticle"
        />
      </div>

      <div id="vue-liste" v-show="showList">
        <ul>
          <li v-for="article in this.wishlist" :key="article.urlArticle">
            <span class="nom-article">
              <a
                :href="article.urlArticle"
                :title="article.nomArticle"
                target="_blank"
              >
                {{ article.nomArticle }}
              </a>
            </span>
            -
            <span class="prix-article">
              {{ article.prixArticle.toFixed(2) }} €</span
            >
          </li>
        </ul>
      </div>
    </div>

    <footer>
      <ul>
      <li>
          <a
            href="https://twitter.com/messages/134235373-134235373?recipient_id=134235373&text=Hey%20!%20o%2F%0AJe%20viens%20de%20me%20balader%20sur%20ta%20wishlist%20et%20j'aurais%20besoin%20de%20ton%20adresse%20stp%20%3A)"
            title="M'envoyer un message sur Twitter pour mon adresse"
            target="_blank">
            M'envoyer un message sur Twitter pour mon adresse
            </a>
        </li>
        <li>
          <a
            href="https://paypal.me/kimoupossible"
            title="Mon PayPal"
            target="_blank"
            >Mon PayPal</a
          >
          si jamais
        </li>
        <li>
          Favicon par
          <a
            href="https://www.flaticon.com/authors/smashicons"
            title="Smashicons"
            target="_blank"
            >Smashicons</a
          >
          de
          <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"
            >flaticon.com</a
          >
        </li>
      </ul>
    </footer>
  </v-app>
</template>

<script>
import Card from '~/components/Card.vue';
export default {
  components: { 'my-card': Card },
  mounted() {
    this.fetchData();
  },
  data() {
    return {
      wishlist: [],
      showList: false,
    };
  },
  methods: {
    sortArticles: (a, b) => {
      let sortValue = 0;

      if (a.prixArticle > b.prixArticle) {
        sortValue = -1;
      } else if (a.prixArticle < b.prixArticle) {
        sortValue = 1;
      } else {
        if (a.nomArticle > b.nomArticle) {
          sortValue = 1;
        } else if (a.nomArticle < b.nomArticle) {
          sortValue = -1;
        }
      }

      return sortValue;
    },

    async fetchData() {
      try {
        const res = await fetch('wishlist.json');
        this.wishlist = await res.json();
        this.wishlist.sort((a, b) => this.sortArticles(a, b));
      } catch (err) {
        alert(`Error: unable to fetch wishlist.json\n${err.message}`);
        this.wishlist = [];
      } finally {
        this.isLoaded = true;
      }
    },
  },
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('assets/css/style.css');
@import url('assets/css/card.css');
</style>
